<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="usTAS" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <appSettings>
    <add key="crash-report-location" value="%TEMP%\TAMAI" />
  </appSettings>
  <usTAS>
    <add key="suffix-a" value="-a.csv" />
    <add key="suffix-b" value="-b.csv" />
    <add key="suffix-a-b" value="-a-b.csv" />
    <add key="suffix-a-b-tdm" value="-a-b-tdm.csv" />
    <add key="suffix-wavelength" value="nm" />
  </usTAS>
</configuration>
